
<div>

    <section id="header">
        <div class="header__info">
            <span>
                Servicio al cliente de Lider.cl: Whatsapp 
                <span class="header__info-special">+56957211492</span>
                | Horario: de lunes a viernes de 8:00 a 22:00 y sabado, domingo y festivos 9:00 a 21:00
            </span>
        </div>
    </section>

    <app-finder (eventEmitter)="eventEmitted($event)"></app-finder>

    <section id="content">

        <div class="finder-results">
    
            <div *ngIf="search" class="finder-search-info">
                <p class="text-left">Resultados para <strong>{{ search }}</strong>:</p>
                <div class="finder-search-info__container text-right">
                    <p class="text-left">Ordenar por: destacados</p>
                    <img class="icon-arrow-left text-right finder-search-info__icon-arrow-left" src="./../../../assets/imgs/arrow-left.png">
                </div>
            </div>
        
            <div class="finder-results__products-container">
                <app-products [search]="search" [products]="products"></app-products>
            </div>

            <div class="finder-info">
                <span class="text-info text-left">Ver Informacion Legal</span>
                <img class="icon-arrow-left text-right" src="./../../../assets/imgs/arrow-left.png">
            </div>

        </div>

    </section>

    <section id="footer">
        <div class="footer-container"></div>
    </section>

</div>
