
<div *ngFor="let product of products">

    <div class="product">

        <div class="product__img-container">
            <img src="{{product.image}}">
        </div>

        <div class="product__content">
            <div class="product__title">
                <span><strong>{{ product.brand }} </strong></span>
                <span> {{ product.description }}</span>
            </div>
            <span class="product__price"><strong>${{ product.newPrice || product.price }} </strong></span>
            <span *ngIf="isSearchPalindrome()" class="product__discount">50%</span>
            <p *ngIf="isSearchPalindrome()" class="product__old-price line-through">${{ product.price }}</p>
        </div>

    </div>

</div>
