.finder {
    padding: 15px;
    background-color: blue;
}

.product-finder {
    width: 500px;
    border-radius: 15px;
    background-image: url(../../../../assets/imgs/search.png);
    background-position: 6px 1px;
    background-repeat: no-repeat;
    background-size: contain;
    padding-left: 35px;
}
