
.text-left {
  float: left;
}

.text-right {
  float: right;
}

.logo {
  width: 125px;
  padding-top: 5px;
  padding-left: 15px;
  margin-right: 20px;
}

.icon-arrow-left {
  width: 18px;
  height: 18px;
}

.text-info {
  color: darkblue;
}
