//Initial Set CSS
.mb0 {
  margin-bottom: 0 !important;
}
.mb10 {
  margin-bottom: 10px !important;
}
.mb20 {
  margin-bottom: 20px !important;
}
.mt10 {
  margin-top: 10px !important;
}
.mt20 {
  margin-top: 20px !important;
}
.min-height-zero {
  min-height: 0px !important;
}
.ejmoney {
  color: #546e7a !important;
  font-size: 12px !important;
}

//backgrund loader
rect {
  fill: transparent !important;
}

.tooltip-help-input {
  position: absolute;
  width: auto;
  color: #2772cc;
  font-weight: bold;
  top: 28px;
  cursor: pointer;
  left: 193px;
  background-color: #fff;
  width: 30px;
  z-index: 1000;
}

// circle color small Bci
.container-circle-small {
  float: left;
  width: 100%;
  .dot {
    float: left;
    height: 8px;
    width: 8px;
    border-radius: 50%;
    margin-right: 10px;
    &.green {
      background-color: #00893c;
    }
    &.red {
      background-color: #e0333b;
    }
    &.blue {
      background-color: #2772cc;
    }
    &.yellow {
      background-color: #ffdd00;
    }
  }
}
// form client card width
.form-cliente {
  display: inline-block;
  width: 370px;
  padding: 20px 40px 30px 40px !important;
}

// styles global form
.container-group-form {
  float: left;
  width: 100%;
  margin-bottom: 10px;
  .container-component-select {
    float: left;
    padding: 0px 10px;
    &:nth-last-child(2) {
      padding-left: 0px;
    }
  }
}
// container component margin
.align-component {
  float: left;
  margin: 5px 0px;
  width: 100%;
}
// button send data 100%
.button-form {
  width: 100% !important;
  float: left;
  margin-bottom: 15px !important;
}
// button customer
.button-customer {
  color: #2772cc;
  margin-bottom: 10px;
  float: left;
  font-size: 14px;
  font-weight: 600;
  line-height: 24px;
  i {
    position: relative;
    top: 7px;
    left: 10px;
  }
}
